body{
    padding:0;
    margin:0;
    font-family: 'Raleway', sans-serif;
}
a{
    color:white;
}
nav{
    padding:0.8rem;
    background-color:  rgb(3, 3, 44);
    display:flex;
    color:white;
    justify-content: space-between;
    font-weight: 200;
}
.logo{
    font-weight: 200;
    color:yellow;
}
nav ul{
    display:flex;
    float: right;
}
nav ul li{
    /* text-decoration: none; */
    list-style:none;
    font-size:1.3rem;
    padding-left: 2rem;
}
nav ul li a{
    text-decoration: none;
    margin: 0.3rem;
    color:#C3E53C;
}
nav ul li a:hover{
    color:rgb(255, 255, 255);
}
nav .login-btn{
    padding:0.6rem 1rem;
    background-color: #23AD29;
    color:white;
    font-size: large;
    margin-top: -0.5rem;
    border-radius: 0.5rem;
    cursor:pointer;
    outline: none;
    border:none;
}
/* first section styling */
.first-section{
    background: url('./images/background.jpg');
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    height: 60vh;
    position:relative;
}
.overlay{
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    background-color: rgba(3, 0, 0, 0.726);

}
.search-bar,.filter{
    text-align: center;
    
}
.search-bar{
    padding-top: 12rem;
}
.input-box{
    width:35rem;
    height:2.5rem;
    font-size: large;
    outline: none;
    padding-left: 2rem;
    /* border-radius:1rem; */
    /* padding-left:1rem; */
    border:none;
}
.search-btn{
    padding-top:0.8rem;
    padding-bottom:0.8rem;
    width:6rem;
    outline:none;
    font-size: medium;
    border:none;
    background-color: #17EDD3;
    color:#651503;
    cursor:pointer;
}
.filter{
    margin-top:2rem;

}
.filter-btn{
    padding:0.6rem 1rem;
    border-radius: 1rem;
    border:none;
    cursor: pointer;
    background-color: #40F43C;
    font-size: medium;
}
.filter-btn:hover{
   background-color: #043807;
   color:rgb(243, 235, 235);
}
/* second section starts header */
.second-section{
    padding:3rem;
    height:80vh;

}
.second-section-head{
    text-align: center;
    color:blue;
    /* border-bottom: 1px solid black; */

}
.second-content{
    margin-top:4rem;
}
.cards{
    display:flex;
    justify-content: center;
    overflow-x: auto;
    /* overflow-y: auto;  */
    /* height:100%; */
    /* padding-left: 10rem; */
}
.card{
    background-color: rgb(226, 215, 215);
    border-radius: 0.5rem;
    width:30%;
    height:35rem;
    border:none;
    /* box-shadow: 1px 2px 2px 4px rgb(218, 213, 213); */
    margin-left:1rem;
    /* position: relative; */
    /* border:1px solid black; */
    min-width: 22rem;
    
}
.card-image{
    width:100%;
    height:30%;
    object-fit: contain;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    /* object-fit: contain; */
}
.content-area{
    padding:0.7rem;
}
.card-head{
    font-size:1.5rem;
    color:rgb(3, 56, 7);
}
p{
    font-size:1rem;
    font-family:sans-serif;
    color:rgb(8, 133, 106);
}


.info-head{
    text-align:center;
    font-size:x-large;
    padding:2rem 0;
    color:rgb(46, 128, 9);
}
.info{
    display:flex;
    padding:2rem;
}
.image-info{
    width:50%;
    height:auto;
}
.text-info{
    width:40%;
    height:auto;
    /* padding:1rem; */
    /* text-align: center; */
    
}
.text-info p{
    font-size: x-large;
}
.info-btn{
    width:8rem;
    height:2.5rem;
    background-color: cyan;
    border:none;
    font-size: large;
}
.section-image{
    width:95%;
    height:auto;
    min-width: 20rem;
}

.form-cont{
    margin-top:1rem;
}
.form-cont{
    width:80%;
    height:auto;
    background-color: rgb(8, 1, 31);
    padding:1rem 1.4rem;
    color:white;
    font-weight:200;
    
}
.news-heading{
    text-align: center;
    margin-bottom:2rem;
}
.form-reg-area{
    display:flex;
    justify-content: center;
}
.news-letter-form{
    width:100%;
    padding:0 0.5rem;
}
.input-name{
    width:100%
}
.type-name{
    width:100%;
    height:1.9rem;
    margin:0.5rem 0;
    font-size:1.1rem;
    padding-left: 1rem;
}
.type-email{
    width:100%;
    height:1.9rem;
    margin:0.5rem 0;
    font-size:1.1rem;
    padding-left: 1rem;
}
.news-submit{
    width:7rem;
    height:2rem;
    font-size:1.1rem;
    background-color: green;
    color:white;
    outline:none;
    border:none;
    margin-top: 1.5rem;
}